<div cdkDropListGroup>
  <div class="list-container" *ngFor="let list of taskLists">
    <div class="list-title" fxLayout="row" fxLayoutAlign="space-between">
      <h2>{{ list.label }}</h2>
      <button mat-mini-fab color="primary" (click)="addNewTask(list.status)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      class="list"
      cdkDropList
      [id]="list.status"
      [cdkDropListData]="list.tasks"
      (cdkDropListDropped)="onDrop($event)"
    >
      <mat-card
        *ngFor="let task of list.tasks"
        class="task-card"
        (click)="showTaskDetail(task)"
        cdkDrag
      >
        <mat-card-header
          matBadge="{{ checkActivities(task.activities) }}"
          matBadgePosition="after"
          matBadgeSize="large"
        >
          <mat-icon
            mat-card-avatar
            [color]="user?.uid == task.owner.id ? 'accent' : ''"
            >assignment</mat-icon
          >
          <mat-card-title>{{ task.title }}</mat-card-title>
        </mat-card-header>
        <ng-container *ngIf="isLoading">
          <app-loader></app-loader>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>
