<div class="activities">
  <h3 fxLayoutAlign="center">Activities</h3>
  <ul>
    <li fxLayout="column" class="activity" formArrayName="activities" *ngFor="let activity of activities; trackBy: trackByIndex; index as i">
      <editable [formGroupName]="i" *ngIf="isOwner" (save)="editActivity()" (cancel)="cancel()">
        <ng-template viewMode>
          <div fxLayout="column" fxLayoutAlign="center stretch" >
            <span [ngClass]="{placeholder: !activity.title}">{{ activity.title || 'Activity' }}</span>
            <span *ngIf="users$ | async as users">Assigned: {{ activity.assignee || 'No user' | userName: users }}</span>
          </div>
        </ng-template>
        <ng-template editMode>
          <div fxLayout="column" fxLayoutAlign="center stretch" >
            <mat-form-field fxFlex="100%">
              <input type="text" matInput placeholder="Activity title" editableFocusable editableOnEnter editableOnEscape formControlName="title" />
            </mat-form-field>
            <mat-select placeholder="Assigned" formControlName="assignee">
              <mat-option *ngFor="let user of users" [value]="user.id">{{ user.name }}</mat-option>
            </mat-select>
          </div>
        </ng-template>
      </editable>
      <div *ngIf="!isOwner" class="title">
        {{ activity.title }}
      </div>
      <div class="icons" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon *ngIf="users$ | async as users" matTooltip="Assigned to {{ activity.assignee || 'No user' | userName: users }}">
          person
        </mat-icon>
        <span *ngIf="isOwner" class="actions">
          <button mat-icon-button (click)="deleteActivity(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    </li>
  </ul>
  <div *ngIf="isOwner">
    <button mat-raised-button color="primary" (click)="addActivity()">Add Activity</button>
  </div>
</div>
